*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'century_gothicregular';
}
a,
a:hover{
    text-decoration: none;
}

img{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style-type: none;

}
.container{
    max-width: 1440px;
}
.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.form-select:focus{
    box-shadow: none;
}
.btn:focus{
    box-shadow: none;outline: none;
}

.btn-close:focus{
    box-shadow: none;outline: none;
}
/* header top css start from here  */

.header-top .navbar{
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 2rem;padding-right: 2rem;
}

.header-top .navbar .nav-item .nav-link{
    padding-left: 10px;
    padding-right:10px;
    line-height: 3.75rem;
    height: 100%;
    padding-top: 0;padding-bottom: 0;
    font-size: 13px;text-transform: uppercase;
}

.header-top .navbar .nav-item .nav-link.active{
    font-weight: 600;
}
 

.header-top .navbar .navbar-brand{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-family: 'din_condensedbold';text-transform: uppercase;font-size: 40px;
}
/* header top css end here  */

/* main-navbar css start from here  */

.main-navbar .navbar{
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid #e5e5e5; 
    padding-left: 2rem;padding-right: 2rem;position: relative;
}
.main-navbar .navbar .nav-item .nav-link{
    padding-left: 10px;
    padding-right:10px;
    line-height: 3.75rem;
    height: 100%;
    padding-top: 0;padding-bottom: 0;
    font-size: 13px;text-transform: uppercase;
}
.navbar .megamenu{ padding: 1rem; }
 
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
 
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}

.main-navbar .navbar .megamenu{
    padding-left: 52px;padding-right: 52px;
}
.main-navbar .navbar .nav-item .nav-link.active{
    font-weight: 600;
}
/* main-navbar css end here  */

/* main  slider css start from here  */
.main-slider{
    margin: 50px 0;
}

.main-slider .slider-title h2{
    font-family: 'din_condensedbold';
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.main-slider .slider-title{
    margin-bottom: 50px;
}

.main-slider .slider-banner img{
    width: 100%;
    min-height: 610px;
}

.main-slider .slider-description{
    margin-top: 30px;
}

.main-slider .slider-description h2 a{
    text-transform: uppercase;color: black;font-size: 22px;line-height: 30px;
}
.main-slider .slider-description .slider-btn-shop{
    margin-top: 10px;
    width: 14.0625rem;
    text-transform: uppercase;
    font-size: .8125rem;
     color: white;
    background: black;
    border: none;padding: 0 2rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-size: .8125rem;
    line-height: 1.25rem;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;display: inline-flex;
}

.main-slider .slider-description .slider-btn-shop:focus{
    box-shadow: none;
    outline: none;
}
.main-slider .slider-description .slider-btn-shop i{
    margin-right: 10px;
}
.main-category{
    margin-bottom: 50px;margin-top: 2rem;
}
.main-category .card{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
    padding: 0;
    margin-bottom: 30px;
}
.main-category .card .card-body{
    /* border: 1px solid #e5e5e5; */
    padding: 0;
}
.main-category .card .card-body img{
    
    width: 100%;
    min-height: 200px;
}

.main-category .card .card-footer{
    background: none;  padding-left: 0;
}
.main-category .card .card-footer h3{
 
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
  
}
/* main slider css end here  */
.common-title{
    margin-bottom: 30px;
}
.common-title h2 {
    font-family: 'din_condensedbold';
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.common-description{
    margin-top: 30px;
}
.common-description h2 a{
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    line-height: 30px;
}


.common-description .common-btn-shop {
    margin-top: 10px;
    width: 14.0625rem;
    text-transform: uppercase;
    font-size: .8125rem;
    color: white;
    background: black;
    border: none;
    padding: 0 2rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-size: .8125rem;
    line-height: 1.25rem;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
}
.common-description .common-btn-shop i{
    margin-right: 10px;
}
/* explore menu css start from here  */
.explore-menu{
      
    height: 5.9375rem;  
     border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    position: relative;
}
.explore-menu .navbar{
    background-color: #fff;
    padding: 0;
    height: 100%;
   
}
.explore-menu .navbar .navbar-brand{
    padding: 0;
    margin: 0; font-size: 12px;text-transform: capitalize; height: 100%;font-weight: 600;margin-right: 25px;
}
.explore-menu .navbar .nav-link{
    padding-left: 10px;
    padding-right:10px;
 
    height: 100%;
    padding-top: 0;padding-bottom: 0;
    font-size: 12px;text-transform: capitalize;
}

/* explore menu css start from here  */


/* footer css start from here  */
.footer {
    margin-bottom: 50px;
  
    padding-top: 50px;
}
.footer .container-fluid{
    padding-left: 3rem;
    padding-right: 3rem;
}
.footer h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border:none;
    border-bottom: 1px solid #000;
    font-size: 14px;
    line-height: normal;
}

.footer .form-control:focus{
    box-shadow: none;
    outline: none;
}

.footer .nav-box{
    margin-top: 50px;
}
.footer .nav-box .nav-link{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 0px;
    padding-left: 0;
    color: #000;
    transition: width .32s ease,margin-left .32s ease;
    -webkit-transition: width .32s ease,margin-left .32s ease;
    -moz-transition: width .32s ease,margin-left .32s ease;
    -ms-transition: width .32s ease,margin-left .32s ease;
    -o-transition: width .32s ease,margin-left .32s ease;
}

.footer .nav-box .form-select{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 300;
}
/* footer css end here  */

/* category page css start from here  */

.category-overview{
    margin:50px
}
.category-overview h2{
    font-family: 'din_condensedbold';
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.category-overview .overview-description{
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 30%;
   text-align: center;
}
.category-overview .overview-description p{
    font-size:13px;line-height: 21px;text-align: center;
}

.category-sorting{
    margin-bottom: 120px;
   height: 3.75rem;position: relative;
  
    
}
.category-sorting .container-border{
    border: 1px solid #e5e5e5; 
    border-left: none;border-right: none;
    height: 3.75rem;
}
.category-sorting .form-select{

    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase; 
}

.category-sorting .sorting-navbar .nav-link{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 0px;
    padding: 0 1.25rem;
    color: #000;
    transition: width .32s ease,margin-left .32s ease;
    -webkit-transition: width .32s ease,margin-left .32s ease;
    -moz-transition: width .32s ease,margin-left .32s ease;
    -ms-transition: width .32s ease,margin-left .32s ease;
    -o-transition: width .32s ease,margin-left .32s ease;
}

.category-sorting .sorting-navbar .nav-link.dropdown-toggle::after{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: '\f078';
    border: none;
    vertical-align: 0px;
    font-size: 11px;
}
.category-sorting .sorting-navbar .nav-link.show.dropdown-toggle::after{
 content: '\f077';
}
.category-sorting .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 38px;
    right: 0;
    left: unset;
}

.category-sorting .form-check-input{
    margin-right: 10px;
}
.category-sorting .form-check-input:focus{
    box-shadow: none;
}

.category-sorting .dropdown-item{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 0px;
 
    color: #000;
    transition: width .32s ease,margin-left .32s ease;
    -webkit-transition: width .32s ease,margin-left .32s ease;
    -moz-transition: width .32s ease,margin-left .32s ease;
    -ms-transition: width .32s ease,margin-left .32s ease;
    -o-transition: width .32s ease,margin-left .32s ease;
}

.category-sorting .form-check-input {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.nav-border{
    position: relative;
}

.nav-border::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color:  #e5e5e5;
}
.nav-border::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color:  #e5e5e5;
}

.category-sorting i{
    font-size: 20px;
}

.nav-right-border{
    position: relative;
}
.nav-right-border::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color:  #e5e5e5;
}
.btn-reset-filter{
    margin-top: 10px;
    width: auto;
    text-transform: capitalize;
    font-size: .8125rem;
    color: white;
    background: black;
    border: none;
    padding: 0 2rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-size: .8125rem;
    line-height: 1.25rem;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
}
.shop-main {
    margin: 50px 0px;
}
.shop-main .card{
    border: none;
    margin-bottom: 20px;
}
.shop-main .card .card-body{
    padding: 0;
    position: relative;
}
.shop-main .card .card-body img{
    width: 100%;
}
.shop-main .card .card-footer{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border: none;
    padding: 15px 0px;
    align-items: center;
}

.shop-main .card .card-footer .price-details{
    flex-basis: 75%;
}

.shop-main .card .card-footer .addshop{
    flex-basis: 25%;
}
.shop-main .card .card-footer .price-details h5{
    font-size: .8125rem;
    line-height: 1.25rem;
    color: black;
    margin-bottom: 0.125rem;text-transform: capitalize;font-weight: 600;   margin-bottom: 5px;
}

.shop-main .card .card-footer .price-details p.desc{
    font-size: 13px;
    line-height: 21px;font-weight: 400;color: #000;text-transform: capitalize;margin-bottom: 5px;
}


.shop-main .card .card-footer .price-details p.price{
    font-size: 13px;
    line-height: 21px;font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.shop-main .card .card-footer .addshop{
   text-align: end;
}

.shop-main .card .card-footer .addshop a.addto-shop{
    border: 1px solid #e5e5e5;
    color: #000;
    height: 50px;
    width: 50px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    text-align: center;

}
.shop-main .card .card-footer .addshop a.addto-shop i{
    padding-top: 9px;
    font-size: 17px;
}

.shop-main .card .card-body a i{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 17PX;
    color: #000;
}


/* category page csss end here  */

/* product details page css start from here  */
.details-main{
    margin: 30px 0px;
}

.details-main .productzoom-main{
    min-height: 200px;
}
.details-main .productzoom-main li.nav-item{
    flex-basis: 50%;padding: 0 0.625rem 0.625rem;
    cursor: zoom-in;
}
.details-main .productzoom-main li.nav-item:nth-child(1){
    flex-basis: 100%;
}
.details-main .productzoom-main li.nav-item img{
  width: 100%;
}
h3.suggestion{
    text-align: center;font-size: 16px;line-height: 24px;font-weight: 400;text-transform: uppercase;margin-bottom: 20px;
}
 .suggesion-border{
    border-bottom: 1px solid #e5e5e5;
 }
 .suggesion-border .card .card-footer .price-details{
     flex-basis: 100%;
 }
 .details-pricebox{
     margin-left: 56px;
 }

 .details-pricebox h5.product-status{
     text-transform: capitalize;color: #757575; 
     font-size: .8125rem;    margin-bottom: 0.1875rem;
     line-height: 1.3125rem;
 }

 .details-pricebox h2.product-title{
    font-size: 22px;
 
    text-transform: uppercase;font-weight: 400;margin-bottom: 10px;
}

.details-pricebox p.product-desc{
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #757575;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.details-pricebox p.reference{
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.size-selection {
    margin-left: 56px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
.size-selection .form-select{
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
     font-size: 13px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.size-selection a.size-chart{
    text-decoration: underline;
    text-align: center;
   padding-bottom: 20px;
   font-size: 13px;
   font-weight: 400;
   color: #000;
   text-transform: capitalize;
}

.sizeChartModal .modal-header{
    border: none;
}

.sizeChartModal .modal-header h5 {
    text-align: center;
    font-size: 14px;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
}

.sizeChartModal .modal-content{
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}
.btn-close {
   
    width: 14px;
    height: 14px;

    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/14px auto no-repeat;
  
}

.add-tocart-main{
    margin: 20px 0px;
    margin-left: 56px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #e5e5e5; */
}

.add-tocart-main h5.price{
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 5px;text-align: center;
}

.addtocart-btn-set{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.addtocart-btn-set .rounded-btn{
    flex-basis: calc(95% - 50px);
}
.addtocart-btn-set .rounded-btn .btn-primary{
  
    margin-top: 0px;
    width: 100%;
    text-transform: uppercase;
    font-size: .8125rem;
    color: white;
    background: black;
    border: none;
    padding: 0 2rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-size: .8125rem;
    line-height: 1.25rem;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
}
.addtocart-btn-set .circle-btn{
    flex-basis: 50px;
    text-align: end;
}
.addtocart-btn-set .circle-btn .btn-secondary{
    border: 1px solid #e5e5e5;
    color: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    background: none;
}
.addtocart-btn-set .circle-btn .btn-secondary i{
    padding-top: 10px;
}

.addtocart-btn-set .circle-btn .btn-secondary:focus{
    box-shadow: none;outline: none;
}

.btn:focus{
    box-shadow: none;outline: none;
}

p.t-c{
    font-size: 13px;
   
    font-weight: 400;
    color: #000;
    
    margin-bottom: 20px;
}
p.t-c a{
    text-decoration: underline;
    color: #000;
}

.contact-box-rounded{
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact-box-rounded .nav-link{
    font-size:12px;color: #000;
    text-decoration: underline;
    padding: 8px 0;font-weight: 400;
}
.contact-box-rounded .nav-link i{
    font-size: 14px;
    margin-right: 10px;
}
.product-desc-collpase{
    border-radius: .3125rem;
    
    margin: 20px 0px;
}
 

.product-desc-collpase .accordion-item {
    background-color: #f6f6f6;
    border: none;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.product-desc-collpase .accordion-button {
    background-color: #f6f6f6;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.product-desc-collpase .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #f6f6f6;
    box-shadow: none;
   
}
.product-desc-collpase .accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.product-desc-collpase .accordion-body{
    font-size: 13px;color: #000;
}
/* product details page css end here  */